//colors
$brown: linear-gradient(90deg, #A35233 0%, #D6834F 100%);
$white: #FFFFFF;
$green: #80A529;
$black: #1E1E1E;
$grey: rgba(30, 30, 30, 0.5);
$light_brown: #A35233;
$light_black: #1E1E1E 50%;
$white_black: #000000 60%;
$brown_btn: #94716B;
$bnt_left: #D1A899;
$border: #F8F8F8;
$feedback_left: #C9B8B5;
$feedback_right: #94716B;


//font size
$fz14: 14px;
$fz16: 16px;
$fz18: 18px;
$fz20: 20px;
$fz23: 23px;
$fz25: 25px;
$fz26: 26px;
$fz30: 30px;
$fz32: 32px;
$fz50: 50px;
$fz64: 64px;
$ff_com: 'Comfortaa', cursive;
$ff_num: 'Numans', sans-serif;
$ff_nun: 'Nunito', sans-serif;

//container
$lg: 1280px;
$md: 992px;
$sm: 768px;
$xs: 320px;