* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title_footer {
    width: 100%;
    background-color: #aed9e7;
}

h1 {
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding: 15px;
    color: #381ef8;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content_text {
    background: url(img/ball.png) top right repeat-y;

}

.content_menu {
    width: 950px;
    background: #f0e78d;
}

.content_menu-title {
    margin: 35px 0 0 25px;
    font-size: 30px;
}

a {
    color: #1214ef;
    margin-left: 59px;
    font-size: 30px;
    margin-bottom: 10px;
    display: inline-block;
    word-wrap: break-word;
}

.content_tex {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    margin-top: 35px;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

img {
    margin-left: 30px;
    width: 1000px;
}

p {
    margin-left: 15px;
}